---
layout: bare.njk
---

<div class="flex flex-col min-h-screen items-center">

    <header class="w-full">
        <div>
            {% include "./partials/nav.njk" %}
            {# {{ nav | safe }} #}
        </div>
    </header>
    <div class="flex-1 items-center w-full md:max-w-4xl">
        <main class="px-10">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
        </main>

    </div>    
    <div class="w-full">
        {% include "./partials/footer.njk" %}
    </div>      

</div>
