  {# { "name": "Boo", "url": "/"},
  { "name": "Books", "url": "/books"},
  { "name": "Resources", "url": "/resources"} #}


<nav class="mb-10" style="color: #684709">

    <div class="flex items-center flex-wrap py-10 md:pt-10">

        <div class="flex-1 text-right border-red-500">
        {% if section != "Home" %}
            <a class="font-serif font-thin text-2xl md:text-3xl cursor:hand" 
                href="/"
                >Jennifer Harris</a>
        {% endif %}
        </div>

                        {# x-transition:enter="transition ease-out duration-1000"
                x-transition:enter-start="opacity-0 transform scale-90" 
                x-transition:enter-end="opacity-100 transform scale-100"  #}

        <div x-data="{ hipbjam: false }" class="border-blue-500 mx-5 md:mx-10">
            <img class="transform scale-110 lg:scale-90" src="/img/pbjam.png"
                @mouseover="hipbjam = true" @mouseleave="hipbjam = false" />
            <div class="relative" x-cloak x-show="hipbjam" 

                x-transition:leave="transition ease-out duration-5000" 
                x-transition:leave-end="opacity-20"
                >
                <div class="absolute top-0 mt-1 z-10 bg-white p-2 rounded-lg shadow-lg text-xs text-center ">
                pb and jam!
                </div>
                </div>
        </div>

        <div class="flex-1 text-sm mr-10 md:p-0">
            {# <button class="block md:hidden focus:outline-none" @click="showMenu = !showMenu">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button> #}
            <div class="flex flex-row gap-5 md:gap-10">
                {% for item in sections %}

                    <a href="{{ item.url }}" 
                               class="uppercase font-thin hover:underline 
                               {{ "text-red-600 font-bold" if (item.name == section) }}"
                               >{{ item.name }}</a>

                {% endfor %}
            </div>

        </div>

    </div>

    <div class="border-b mx-10" style="border-color: #FEFAF0;"></div>

</nav>
