<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="/assets/main.css"/>
    </head>
    <body>

        {{ content | safe }}
     
        <script src="/assets/main.js"></script>
    </body>
</html>