---
title: About Jennifer Harris
section: About
layout: base.njk
---

<div class="grid md:grid-cols-3 gap-3 mx-10 px-10">
    <div>
        <img class="m-10" src="img/portrait-illustration.jpg"/>
    </div> 

    <div class="col-span-2 text-gray-600">
        <h1 class="uppercase font-bold mt-10 mb-3">About Jennifer</h1>
        <p class="mb-3">Jennifer Harris lives in a storybook house (really) in Waterloo, Ontario. When not reading and writing, <a href="https://uwaterloo.ca/english/people-profiles/jennifer-harris">she teaches at the University of Waterloo</a>. </p>

        <p class="mb-3">Her children think you should know that: 1) whenever she bakes cakes, she lets them lick the icing beaters; 2) she can almost always be persuaded to bring a new book home, even though the shelves are overflowing.</p>

        <p class="mb-3">The children are less impressed by her degrees, or her academic publications and awards, which can be found on her academic site. </p>

        <h2 class="uppercase font-bold mt-10 mb-3">Represented by</h2>

        <p>Jackie Kaiser</p>
        <p>
            <a href="https://wcaltd.com/">Westwood Creative Artists</a>
        </p>
        <p>
            <a href="https://twitter.com/WCA_LitAgency">@WCA_LitAgency</a>
        </p>

    </div>
    <div>
    </div>

</div>