---
title: Jennifer Harris
section: Home
layout: base.njk
---

<div class="col-span-5 ">
    <p class="text-xl text-center leading-loose"><span class="">Hi, I'm <span style="color: #684709" class="font-thin text-4xl lg:text-3xl">Jennifer Harris.</span></span>
    <br/><span class="">I'm a writer of picture books, and a reader of everything.</span></p>

    {# I also really like chocolate, my family, and bookstores. Usually, I'm in Waterloo, Ontario, where I'm also an English professor, and where we live in a little storybook house. #}
</div>