---
title: Jennifer Harris
section: Home
layout: base.njk
---

<div class=" border-blue-500"></div>
<div class="col-span-3 text-xl text-center">
    <p class="mb-1 text-xl ">Hi, I'm 
    <span style="color: #684709" class="font-thin whitespace-nowrap text-3xl">Jennifer Harris.</span>
    <p class="text-xl">I'm a writer of picture books, and a reader of everything.</p>

    {# I also really like chocolate, my family, and bookstores. Usually, I'm in Waterloo, Ontario, where I'm also an English professor, and where we live in a little storybook house. #}
</div>
<div class="col-start-5  border-blue-500"></div>



<div class="col-start-2 col-span-3 pt-8 text-xl text-center flex flex-col gap-4 items-center border-1 border-red-800">
<div>
    <p style="color: #684709" class="font-thin text-3xl mb-1">My debut book!</p>
    <p class="mb-0 text-xl "><i>She Stitched the Stars: A Story of Ellen Harding Baker's Solar System Quilt</i></p>
    </div>
    <img class="mx-5 w-2/3 shadow-xl" src="/img/she-stitched-the-stars-cover.jpg"/>
    <p class="">Find it at your favourite local bookstore, or order from <a href="https://www.amazon.com/She-Stitched-Stars-Harding-History/dp/0807573221">Amazon</a>, <a href="https://www.barnesandnoble.com/w/she-stitched-the-stars-jennifer-harris/1138772508">Barnes and Nobel</a>, <a href="https://www.chapters.indigo.ca/en-ca/books/she-stitched-the-stars-a/9780807573228-item.html">Indigo</a>, and other online booksellers.</p>
</div>

