---
title: About Jennifer Harris
section: About
layout: base.njk
---

<div class="col-span-2">
    <img class="" src="/img/portrait-illustration.jpg"/>
</div>
<div class="col-span-3">
        <h1>About Jennifer</h1>
        <p>Jennifer Harris lives in a storybook house (really) in Waterloo, Ontario. When not reading and writing, she teaches at the University of Waterloo. </p>

        <p>Her children think you should know that: 1) whenever she bakes cakes, she lets them lick the icing beaters; 2) she can almost always be persuaded to bring a new book home, even though the shelves are overflowing.</p>

        <p>The children are less impressed by her degrees, or her academic publications and awards, which can be found on her <a href="https://uwaterloo.ca/english/people-profiles/jennifer-harris">academic site</a>. </p>

        <h3>Represented by</h3>

        <p>Jackie Kaiser <br/>
        <a href="https://wcaltd.com/">Westwood Creative Artists</a><br/>
        <a class="text-sm" href="https://twitter.com/WCA_LitAgency">@WCA_LitAgency</a>
        </p>

</div>

<div class="col-span-2">

</div>
<div class="col-span-3">
        <h2>Self Interview</h1>

<h3>How did you start writing?</h3>
<p>I’ve been writing for a long time. But I’ve always set high standards for myself. So as a child, I looked to Gordon Korman and Ally Sheedy, both of whom published their first novels at twelve (This Can’t Be Happening at MacDonald Hall; She Was Nice to Mice). When I hit twelve and hadn’t published, I figured that was that, and gave up any serious aspirations. This is a true story, and also a really good example of why twelve-year-olds shouldn’t make career choices. </p>

<p>Eventually, I did other things, and ended up getting a PhD, studying and writing about literary history. But then I had a mortifyingly comical self-inflicted injury, and couldn’t travel to archives for a bit. It seemed an ideal time to return to another kind of writing. </p>

<h3>Where do you get ideas?</h3>
<p>Usually a phrase pops into my head and I run with it. Sometimes it goes well, sometimes it doesn’t—which is why I haven’t sent out a story called Not in the Mood for a Tail. Still think the title is amazing, though.</p>

<p>Alternately, I read something and think “Why hasn’t anyone written a story about that?” Of course, if you research further, maybe someone did, or maybe there are reasons they didn’t. Lauren Soloy (author/illustrator of the beautiful When Emily Was Small) and I had a funny Twitter exchange about the problems inherent in writing about Florence Nightingale’s pet owl, Athena.</p>

<p>On one occasion, the other two members of a writing group I’m in (the awesome Rachel and Amanda) had written stories about turtles. I thought it would be funny to write one, too. And when they joked I often forget to include dialogue, I wrote them a story with no dialogue. </p>

Also, I have to say, if you want to write picture books, a writing group can be incredibly useful in providing feedback on your ideas and the best way to convey them on the page. Especially if the people you live with tell you they like everything you write. Maybe they genuinely do, maybe they don’t want to hurt your feelings, or maybe they just want to get back to Lego, and will say anything to make you go away. 

<h3>Where do you write?</h3>
<p>We used to live in a giant six-bedroom Victorian house in Sackville, New Brunswick, where I had my own room for reading and writing. My writing sofa was from the 1920s, curved like seashell. I miss it—and my Sackville friends—tremendously. Our Waterloo home is a little storybook house, which means we can’t squeeze in a dedicated writing nook for me. When it’s cold, I hide in the bedroom to write, tucked up under blankets. In summer, I might use the small balcony off my daughter’s room—it feels like a treehouse. If I’m the only one home, though, the kitchen table and living room can become writing spaces. It’s more about the time than the location.</p>

<h3>What books did you like as a child?</h3>
I’m fortunate, because my mother saved my books. Or at least, she let me pick through them and decide which ones to save. That makes answering this question much easier. Books by Uri Shulevitz, Virginia Lee Burton, Judith Kerr, Maurice Sendak, and Ezra Jack Keats all show significant signs of wear.

<p>At the same time, some of the picture books I treasured aren’t available now, like The Fantastic Story of King Brioche the First, The Bear’s Bicycle, and The Bunyip of Berkeley's Creek. The illustrations of Errol Le Cain remain mesmerizing. And I can still recite poems from Dennis Lee’s Garbage Delight, though only the ones that get the book banned now. </p>

When I think about middle-grade books, I loved Lucy Boston’s Children of Green Knowe, Ellen Raskin’s The Westing Game, and so many more. I’ve told Hilary McKay that I wish her brilliant Casson family series had been available when I was young—but then she’d have been publishing at what, twelve? How likely is that?

<h3>Looking for more interviews with picture book authors? </h3>
<p>Visit <a href="https://www.kidsaskauthors.com/">www.kidsaskauthors.com</a></p>




{# <div class="border border-gray-400">
    <p>Three</p>
</div> #}

