---
permalink: "{{ page.fileSlug }}.html"
layout: layouts/base.njk
---

<div class="m-10" x-data="{ isOpen : true }">

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded md:hidden" @click="isOpen = !isOpen" @click.away="isOpen = false" >toggle</button>

<h1 class="my-10 md:flex" :class="{ 'hidden' : !isOpen}">{{ page.fileSlug }}</h1>

</div>