---
layout: bare.njk
---


<div class="flex flex-col min-h-screen items-center">

    <div class="w-full bg-blue-200">
        <div style="height: 100px;">
            Navigation
        </div>
    </div>
    <div class="flex-1 items-center w-full md:max-w-4xl  bg-red-200">
        <div class="border border-red-800" style="height: 100px;">
            Content
        </div>
    </div>    
    <div class="w-full bg-green-200">
        Footer
    </div>      

</div>
